<div class="clearfix coverline">
  <div class="circle bigicons"><i class="{{AwesomeIcon}}"></i></div><span class="locationtype">{{LocationType}}</span>
</div>
<br/>
<br/>



<div class="list-group">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">{{book.ocrresult}}</h4>
    <p class="list-group-item-text">{{book.year}}</p>
     <p class="list-group-item-text">{{book.year}}</p>
      <p class="list-group-item-text">{{book.year}}</p>
       <p class="list-group-item-text">{{book.year}}</p>
  </a>
</div>